.Rproj.user
.Rhistory
.RData
.Ruserdata
..Rcheck
inst/doc
/loc_tesdat
devnotes.txt
devnotes.md
packages.R
test.svg
.Rdata
.httr-oauth
.DS_Store
docs
/.vscode
a.exe
/doc/
/Meta/
.RDataTmp
.RDataTmp1
.idea
